{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce Blog de ouf</h1>



<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea quam quia quidem? Animi, autem commodi, cum
    ducimus eius illum in incidunt inventore libero maxime nam nobis odit pariatur possimus quam quia quis rem rerum
    sint tempore temporibus totam velit!</p>

<p>Consequatur, cum error fugiat hic laudantium necessitatibus odio
    perspiciatis provident quibusdam similique. Accusamus alias architecto distinctio, dolor doloremque doloribus enim
    iure, magni nesciunt nisi officia quaerat quisquam recusandae repellat, ut. Deserunt ducimus exercitationem iste
    maxime minima odio praesentium quam ratione!</p>

{% endblock %}